@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

#root {
  max-width: none;
  padding: 0;
}